@model Biblioteca2.Models.EmprestimoEstado
@{
    ViewData["Title"] = "Estado de Empréstimo - Apagar";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-bookmark-o text-danger"></i> @ViewBag.Title</h2>
</div>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
    <dd>@Html.DisplayFor(model => model.Nome)</dd>
</dl>
<hr />
<h6 class="text-danger"><b>Tem a certeza que pretende apagar este registo?</b></h6>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" value="Delete" class="btn btn-danger btn-sm" title="Apagar"><i class="fa fa-trash"></i> <span class="small">Apagar</span></button>
    <a asp-action="Index" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <span class="small">Voltar à Lista</span></a>
</form>
