@model Biblioteca2.Models.DTO.DTO_Autor
<!-- Modal (addAutorModal) -->
<div class="modal fade" id="addAutorModal" tabindex="-1" aria-labelledby="addAutorModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="_AddAutor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LivroId" />
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addAutorModalLabel">Adicionar Autor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-1">
                        <select asp-for="AutorId" class="form-select" asp-items="Model.Autores">
                            <option value="">--- Seleciona uma autoria ---</option>
                        </select>
                        <label asp-for="AutorId" class="control-label"></label>
                        <span asp-validation-for="OrdemAutoria" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <input asp-for="OrdemAutoria" class="form-control" />
                        <label asp-for="OrdemAutoria" class="control-label"></label>
                        <span asp-validation-for="OrdemAutoria" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" title="Guardar"><i class="fa fa-save"></i> <small>Guardar</small></button>
                    <button type="button" class="btn btn-default btn-sm icon-link" data-bs-dismiss="modal"><i class="btn-close"></i> <small>Fechar</small></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
