@model Biblioteca2.Models.Autor
@{
    ViewData["Title"] = "Autor - Editar";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-user-o text-danger"></i> @ViewData["Title"]</h2>
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-floating mb-1">
        <input asp-for="Nome" class="form-control" />
        <label asp-for="Nome" class="control-label"></label>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <textarea asp-for="Bibliografia" class="form-control" ></textarea>
        <label asp-for="Bibliografia" class="control-label"></label>
        <span asp-validation-for="Bibliografia" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="DataNascimento" class="form-control" />
        <label asp-for="DataNascimento" class="control-label"></label>
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>
    <div class="form-floating mb-1">
        <input asp-for="DataMorte" class="form-control" />
        <label asp-for="DataMorte" class="control-label"></label>
        <span asp-validation-for="DataMorte" class="text-danger"></span>
    </div>
    <hr />
    <button type="submit" value="Save" class="btn btn-primary btn-sm" title="Guardar"><i class="fa fa-save"></i> <span class="small">Guardar</span></button>
    <a asp-action="Index" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <span class="small">Voltar à Lista</span></a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
