body { font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif; font-size: 0.75em; margin-top: 57px; margin-bottom: 57px; text-align: justify; }

@media (min-width: 768px) { body { font-size: 0.8em; } }
@media (min-width: 992px) { body { font-size: 0.8em; } }
/*@media (min-width: 1200px) { body { font-size: 0.85em; } }*/
@media (min-width: 1400px) { body { font-size: 0.85em; } }

dt { font-weight: 300; font-size: 0.75rem; }
.dropdown-item.active svg { color: var(--bs-body-bg)!important; }
.row .form-floating label { margin-left: calc(var(--bs-gutter-x) * .25); }
select, input, textarea, .dropdown-item { font-size: 0.9rem !important; }
    input::-webkit-input-placeholder { font-size: 0.9rem; }
a, a:hover, a:active, a:visited { text-decoration: none !important; }
    a.dropdown-item { font-size: 0.9rem; }

span.field-validation-error::before { content: "→ "; }
span.field-validation-error { font-size: 0.8rem; }
textarea.form-control {  min-height: calc(1.5em * 4 + (0.75rem * 2))!important; }
textarea.form-control[rows] { min-height: calc(1.5em * attr(rows) + (0.75rem * 2)); }

/* button default
---------------------------- */
.btn-default { color: #333; background-color: #f8f9fa; border-color: #ccc; background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%); background-repeat: repeat-x; }
    .btn-default:focus { color: #333; background-color: #e6e6e6; border-color: #8c8c8c; }
    .btn-default:active, .btn-default:hover { color: #333; background-color: #e6e6e6; border-color: #adadad; }
/* button-xs
---------------------------- */
.btn-xs { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; min-width: 24px; }
